cora/
Graph_Convolutional_Networks_Node_Classification-master/cora/
Graph_Convolutional_Networks_Node_Classification-master/Tensorboard_FNN_cora/
Graph_Convolutional_Networks_Node_Classification-master/Tensorboard_GCN_cora/
.cora.tgz
.Graph_Convolutional_Networks_Node_Classification-master.zip